/********** Template CSS **********/
:root {
    --primary: #AC8A30;
    --secondary: #FDBE33;
    --light: #F4F6F8;
    --dark: #040F28;
}
/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
  }
  
  #portfolio-flters li:hover,

  .portfolio-item img{
    width: 20em;
  }
  

  
  

/* Custom CSS for Simple Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}





.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff; /* Adjust the background color as needed */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    z-index: 1;
}

.dropdown:hover .dropdown-menu {

}
.btn-colour3{
    background-color: #C21A1A;
    color: #fff;
}


.text-colour-gold{
    color: #AC8A30;
}
.navbar-toggler{
    position: relative;
right: 1%;
left: -6%;
}

            
/* Change the color of the lines on the hamburger menu icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3crect width='40' height='4' rx='2' fill='%5662B6'/%3e%3crect y='9' width='40' height='4' rx='2' fill='%5662B6'/%3e%3crect y='18' width='40' height='4' rx='' fill='%5662B6'/%3e%3c/svg%3e");
    border: none; /* Remove the border to center the icon in the button */

position: relative;
right: 1%;
margin-top: .35em;

}


.text-colour1{
    color: #AC8A30;
}

.facebook-logo{
    width: 50px;
    height: 50px;
}
/* Define the default background color for dropdown items */
.dropdown-item {
    background-color: #fff; /* Default background color */
    color: #0268CA; /* Text color */
    font-family: 'Work Sans', sans-serif;
    /* Add other styles (e.g., padding, border, etc.) as needed */

  }
  
  /* Define the background color when a dropdown item is clicked */
  .dropdown-item:active {
    background-color: #5662B6; /* New background color when clicked (green in this example) */
    /* You can change this color to the desired color */
  }
  
     /* Define the default background color for dropdown items */
  .dropdown-item2 {
    background-color: #fff; /* Default background color */
    color: #000; /* Text color */
    /* Add other styles (e.g., padding, border, etc.) as needed */
  }
  
  /* Define the background color when a dropdown item is clicked */
  .dropdown-item2:active {
    background-color: #fff; /* New background color when clicked (green in this example) */
    /* You can change this color to the desired color */
  }
  .dropdown-item3 {
    background-color: #fff; /* Default background color */
    color: #000; /* Text color */
    /* Add other styles (e.g., padding, border, etc.) as needed */
  }
  
  /* Define the background color when a dropdown item is clicked */
  .dropdown-item3:active {
    background-color: #C21A1A; /* New background color when clicked (green in this example) */
    /* You can change this color to the desired color */
  }
  .dropdown-menu{
    background-color: #fff;
  }

ul {
    list-style-type: none;
    padding: 0; /* Optional: removes default padding */
    margin: 0; /* Optional: removes default margin */
}

li {
    /* Optional: Add styles for list items if needed */
}

/*** Footer ***/
.footer {
    color: #B0B9AE;
    z-index: 12000000; /* Adjust the value as needed to bring it in front of other elements */
        background-color: transparent; /* Remove or set to your desired background color */
        border-bottom: none; /* Remove any border properties */
        position: relative;
        overflow: hidden;

}
.location{
   
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #B0B9AE;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {

}
.location-list {
    list-style-type: disc; /* Use disc for filled circles, or replace with other list-style-type values */
    margin-left: 20px; /* Adjust the margin as needed */
    font-weight: 800;
}
.icon-colour-red{
    color: #C83D36;
}
.icon-colour-purple{
    color: #5762B5;
}


.copyright {
    color: #B0B9AE;
    border-top: 1px solid rgba(255, 255, 255, .1);
    z-index: 12000000; /* Adjust the value as needed to bring it in front of other elements */
}


.font-type{
    font-family: 'Work Sans', sans-serif;
}
.font-type-page-header{
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
    font-size: 3.5em;
}

.border-{
   
    border-left: 2px solid #C83D36; /* Adjust the width and color as needed */
    padding-right: 10px; /* Optional padding to create some space between content and border */

}
/*** Appointment ***/
.appointment {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .65)), url(../img/carousel-2.jpg) center center no-repeat;
    background-size: cover;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}
.section-header{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Francois One', sans-serif;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}
.test{
    padding: 5em 0em;
}
.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff ;
    border: 2px solid #5762B5;
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
    background-color: #5762B5;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #5762B5;
    background: #FFFFFF;
}


.topbar-icon{
    color: #fff;
}
.top-top{
    color: #c2c2c2;
}



.footer::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: var(--primary);
}
.footer::after {
    display: none; /* Add this line to hide the line */
}
.bg-top{
    background: rgb(81,37,114);
background: linear-gradient(103deg, rgba(81,37,114,1) 3%, rgba(72,79,141,1) 51%, rgba(75,139,177,1) 83%, rgba(78,147,181,1) 100%);
}


.btn-colour{
    background: rgb(200,61,54);
    background: linear-gradient(103deg, rgba(200,61,54,1) 0%, rgba(208,12,2,1) 86%);
color: #fff;
}
.navbar-brand{
    color: #0268CA;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
}
.navbar-brand:hover{
    color: #0268CA;
  
}

.logo{
    width: 5em;
    margin-right: 1em
    
}

.navbar-brand{font-size: 1.5em;
    margin-left: .6em;
    word-break: break-all;
    align-items: center;

}

.navbar-brand {
    display: flex;
    flex-wrap: wrap;

}

.navbar-brand::after {
    content: '';
    flex: 100%;


}


.bg-colour{
    background-color: #f4f4f4;
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.btn {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
}



.btn.btn-primary::after {
    background: var(--dark);
}

.btn:hover::after,
.btn.active::after {
    width: 50%;
    left: 25%;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}
.bg-nav{
    background-color: #101113;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    left: 50%;
    bottom: 0;
    margin-left: -22px;
    border-radius: 0;
    z-index: 99;
}


.bg-dark-radial {
    background-image: -webkit-repeating-radial-gradient(center center, #4D3B80, #4D3B80 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #4D3B80, #4D3B80 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #4D3B80, #4D3B80 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #4D3B80, #4D3B80 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #4D3B80, #4D3B80 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;}

.bg-light-radial {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}


/* Style the navbar links */
.navbar-nav .nav-link {
    position: relative;
    padding: 52px 7px;
    font-size: 18px;
    margin: 0 7px;
    text-transform: uppercase;
    color: #971c1ca5;
    outline: none;
    transition: .5s;
    font-family: 'Work Sans', sans-serif;

}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #FF3131;
}



.navbar-nav .nav-link1 {
    position: relative;
    padding: 45px 20px;
    font-size: 21px;
    margin: 0 0 0 7px;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    transition: .5s;
    font-family: 'Work Sans', sans-serif;

}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.slanted-button {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    text-transform: uppercase;
    overflow: hidden;
}
.button-text i{
    margin-left: 10px
}

.slant-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2,104,202);
background: linear-gradient(103deg, rgba(2,104,202,1) 44%, rgba(0,74,173,1) 86%);
    /*
    background: rgb(236,205,92);
    background: linear-gradient(103deg, rgba(236,205,92,1) 57%, rgba(246,244,248,1) 100%);*/
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 0.5s;
}

.button-text {
    position: relative;
    z-index: 1;
    padding: 10px 30px;
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
    font-size: 24px;
}

.slanted-button:hover .slant-bg {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 0.5s;
}
.bg-black{
    background-color: #101113;
}

.gutter-cleaning{
    width: 66px;
    height: 66px;
}
.hvac-service{
    width: 60px;
    height: 60px;
    margin-left: .11em;
}
.btn-colour2{
    background: rgb(2,104,202);
background: linear-gradient(103deg, rgba(2,104,202,1) 44%, rgba(0,74,173,1) 86%);
color: #fff;
    
}
.btn-colour2:hover{
    background: rgb(2,104,202);
    background: linear-gradient(103deg, rgba(2,104,202,1) 44%, rgba(0,74,173,1) 86%);
color: #e6e6e6;

}
.font-type-header{
    font-family: 'Work Sans', sans-serif;

    color: #fff;
    font-size: 3.75em;
}

.page-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(14, 14, 15, 0.7), rgba(20, 20, 21, 0.7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}


.service-item .service-icon {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.service-item .service-icon i {
    transition: .2s;
}

.service-item:hover .service-icon i {
    font-size: 60px;
}



  
@media (min-width: 992px) {
    .testimonial,
    .contact-form {
        margin-left: -90px;
    }
}
.contact-link{
    color: #FF3131;
    text-decoration:  underline;
    cursor: pointer;

}
.contact-link:hover{
    color: #9c2b2b;
    text-decoration:  underline;
    cursor: pointer;

}


.carousel-text{
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
    color: #fff    ;
    text-align: left;
    font-size: 6em;
}

.carousel-description {
    font-size: 16px;
    color: #fff; /* Adjust text color if needed */
    margin-top: 0px; /* Adjust top margin as needed */
    text-align: left;

}
.icon-colour-blue{
    color: #0268CA; /* Adjust text color if needed */

}
.icon-colour-yellow{
    color: #ECCD73; /* Adjust text color if needed */

}


.quote-form {
    max-width: 900px; /* Adjust the maximum width of the form */
    width: 18%;
    margin: 20px; /* Center the form on the page */
    padding: 0px; /* Adjust padding as needed */
    background-color: #ffffff83; /* Adjust background color if needed */
    border: 5px solid #FF3131; /* Adjust border color if needed */
    border-radius: 5px; /* Adjust border radius if needed */
    height: 50%;
}

    .form-header {
        text-align: center;
        font-size: 22px;
        margin: 0 auto 20px; /* Adjust margin for top, bottom, and left/right as needed */
        color: #0268CA; /* Adjust text color if needed */
        width: 100%; /* Make the form header fill the entire width */
        background-color: #fff;
        padding: 20px;
        font-family: 'Work Sans', sans-serif;

    }

.form-group {
    position: relative;
    margin-bottom: 15px; /* Adjust margin between form groups */

}
.form-img{
    width: 0.000001em;
    position: absolute;
    top: 20%;
    left: 67%;
}
.icon-colour-gold{
   color: #C83D36; 
}

.form-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: .8em;
    color: #73737399; /* Adjust icon color if needed */
    margin-left: 1em;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 30px); /* Adjust width and padding as needed */
    padding: 10px;
    padding-left: 30px; /* Ensure enough space for the icon */
    margin-left: 1em;
    border: 1px solid #ddd; /* Adjust border color if needed */
    border-radius: 5px; /* Adjust border radius if needed */
}

.icon-colour {
    color: #9e9e9ea8;
}   


.carousel-container {
    position: relative;
}
.carousel-bottom-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 100px solid white;
    z-index: 1;
}



.container-fluid {
    position: relative;
}

.container-fluid {
    position: relative;
    overflow: hidden; /* Ensure the overflow is hidden to hide excess content */
}
.container-fluid {
    position: relative;
    overflow: hidden;
}

.v-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px; /* Adjust the width as needed */
    height: 100%;
    background: linear-gradient(to bottom left, transparent 50%, gold 50%);
    z-index: 2;
}

.text-container{
width: 58.8%;

}

/* Media Query for Mobile View Only */
@media only screen and (max-width: 481px) {
    .carousel-item {
        height: 105vh;
        width: 100%;
    }
    .carousel-img{
        width: 100%;
        height: 100%;
        object-fit: cover;    }


    .text-container {
        position: absolute;
        top: 23%;
        left: 45%;
        transform: translate(-50%, -50%);   
        width: 100%;
    }

    .quote-form {
        width: 90%;
        max-width: 600px; /* Adjust the maximum width as needed */
        margin: auto;
        padding: 20px;
        background-color: #ffffff94;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        order: 2; /* Set the order to 2 to move the form below the text */
     margin-top: 25em;
     height: 50%;

    }
    .carousel-bottom-shape {
    display: none;
    }

    .v-shape {
display: none;
    }

    .carousel-description {
        font-size: 15px;
        color: #fff; /* Adjust text color if needed */
        margin-top: 0px; /* Adjust top margin as needed */
      
    
    }
    .text-container h1{
        font-size: 2.5em;
    }
    .logo{
        width: 5em;
        margin-right: .5em;
        
    }
    .navbar-brand{font-size: 1em;
        margin-left: .6em;
        word-break: break-all;
        align-items: center;

}

    .navbar-brand {
        display: flex;
        flex-wrap: wrap;

    }
    
    .navbar-brand::after {
        content: '';
        flex: 100%;

    
    }



    .navbar-nav .nav-link {
        position: relative;
        padding: 12px 1px;
        font-size: 21px;
        text-transform: uppercase;
        color: #5661B5;
        outline: none;
        transition: .5s;
        font-family: 'Work Sans', sans-serif;
  
    }
    
    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link.active {
        color: #5661B5;
    }
    
    


}
/* Media Query for Mobile View Only */
@media only screen and (max-width: 420px) {
.button-text{
    margin-left: .9em;
}

   .carousel-item {
        height: 125vh;
        width: 100%;
    }
    .carousel-img{
        width: 100%;
        height: 100%;
        object-fit: cover;    }


    .text-container {
        position: absolute;
        top: 25%;
        left: 45%;
        transform: translate(-50%, -50%);   
        width: 100%;
    }

    .quote-form {
        width: 90%;
        max-width: 600px; /* Adjust the maximum width as needed */
        margin: auto;
        padding: 20px;
        background-color: #ffffff94;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        order: 2; /* Set the order to 2 to move the form below the text */
     margin-top: 28em;
        height: 45%;
    }
    .carousel-bottom-shape {
    display: none;
    }

    .v-shape {
display: none;
    }

    .carousel-description {
        font-size: 16px;
        color: #fff; /* Adjust text color if needed */
        margin-top: 0px; /* Adjust top margin as needed */
      
    
    }
    .text-container h1{
        font-size: 2.5em;
    }
    .logo{
        width: 5em;
        margin-right: .5em;
        
    }
    .navbar-brand{font-size: 1em;
        margin-left: .6em;
        word-break: break-all;
        align-items: center;

}

    .navbar-brand {
        display: flex;
        flex-wrap: wrap;

    }
    
    .navbar-brand::after {
        content: '';
        flex: 100%;

    
    }

    .form-img{
        width: 6em;
        position: absolute;
        top: 46%;
        left: 72%;
    }

    .navbar-nav .nav-link {
        position: relative;
        padding: 12px 1px;
        font-size: 21px;
        margin-left: 1em;
        text-transform: uppercase;
        color: #5661B5;
        outline: none;
        transition: .5s;
        font-family: 'Work Sans', sans-serif;
  
    }

    .navbar-nav .nav-link1 {
        position: relative;
    padding: 12px 1px;
    font-size: 21px;
    text-transform: uppercase;
    color: #0268CA;
    outline: none;
    transition: .5s;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Francois One', sans-serif;
}
    
    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link.active {
        color: #5661B5;
    }
    
    


}
/* Media Query for Mobile View Only */
@media only screen and (max-width: 361px) {
    .carousel-item {
        height: 120vh;
        width: 100%;
    }
    .carousel-img{
        width: 100%;
        height: 100%;
        object-fit: cover;    }


    .text-container {
        position: absolute;
        top: 23%;
        left: 45%;
        transform: translate(-50%, -50%);   
        width: 100%;
    }

    .quote-form {
        width: 90%;
        max-width: 600px; /* Adjust the maximum width as needed */
        margin: auto;
        padding: 20px;
        background-color: #ffffff94;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        order: 2; /* Set the order to 2 to move the form below the text */
     margin-top: 2em;
     height: 50%;

    }
    .carousel-bottom-shape {
    display: none;
    }

    .v-shape {
display: none;
    }
    .carousel-text{
      
        font-size: 214px;
    }
    .carousel-description {
        font-size: 16px;
        color: #fff; /* Adjust text color if needed */
        margin-top: 0px; /* Adjust top margin as needed */
    
    }
    .text-container h1{
        font-size: 3em;
    }
    .logo{
        width: 7.5em;
    }


}
/* Media Query for Mobile View Only */
@media only screen and (max-width: 376px) {
    .carousel-item {
        height: 140vh;
        width: 100%;
    }
    .carousel-img{
        width: 100%;
        height: 100%;
        object-fit: cover;    }


    .text-container {
        position: absolute;
        top: 23%;
        left: 45%;
        transform: translate(-50%, -50%);   
        width: 100%;
    }

    .quote-form {
        width: 90%;
        max-width: 600px; /* Adjust the maximum width as needed */
        margin: auto;
        padding: 20px;
        background-color: #ffffff94;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        order: 2; /* Set the order to 2 to move the form below the text */
     margin-top: 25em;
     height: 48%;

    }
    .carousel-bottom-shape {
    display: none;
    }

    .v-shape {
display: none;
    }
    .carousel-text{
      
        font-size: 214px;
    }
    .carousel-description {
        font-size: 16px;
        color: #fff; /* Adjust text color if needed */
        margin-top: 0px; /* Adjust top margin as needed */
      
    
    }
  

    .text-container h1{
        font-size: 3em;
    }
    .carousel-text{
      
        font-size: 208px;
    }
    .carousel-description {
        font-size: 15px;
        color: #fff; /* Adjust text color if needed */
        margin-top: 0px; /* Adjust top margin as needed */
      
    
    }
    .text-container h1{
        font-size: 2em;
    }
    .logo{
        width: 4.5em;
        margin-right: .5em;
        
    }
    .navbar-brand{font-size: .9em;
        margin-left: .6em;
        word-break: break-all;
        align-items: center;

}

    .navbar-brand {
        display: flex;
        flex-wrap: wrap;

    }
    
    .navbar-brand::after {
        content: '';
        flex: 100%;

    
    }
    .form-img{
        display: none;
            }



    .navbar-nav .nav-link {
        position: relative;
        padding: 12px 1px;
        font-size: 21px;
        text-transform: uppercase;
        color: #5661B5;
        outline: none;
        transition: .5s;
        font-family: 'Work Sans', sans-serif;
  
    }
    
    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link.active {
        color: #5661B5;
    }
    
    

}
/* Media Query for Mobile View Only */
@media only screen and (max-width: 322px) {
    .carousel-item {
        height: 150vh;
        width: 100%;
    }
    .carousel-img{
        width: 100%;
        height: 100%;
        object-fit: cover;    }


    .text-container {
        position: absolute;
        top: 23%;
        left: 45%;
        transform: translate(-50%, -50%);   
        width: 100%;
    }

    .quote-form {
        width: 90%;
        max-width: 600px; /* Adjust the maximum width as needed */
        margin: auto;
        padding: 20px;
        background-color: #ffffff94;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        order: 2; /* Set the order to 2 to move the form below the text */
     margin-top: 32em;
     height: 40%;

    }
    .carousel-bottom-shape {
    display: none;
    }

    .v-shape {
display: none;
    }
    .carousel-text{
      
        font-size: 214px;
    }
    .carousel-description {
        font-size: 16px;
        color: #fff; /* Adjust text color if needed */
        margin-top: 0px; /* Adjust top margin as needed */
      
    
    }
    .text-container h1{
        font-size: 3em;
    }
    .logo{
        width: 6.5em;
    }


}


.roofing-issues ul {
    list-style-type: disc; /* You can change to 'circle' or 'square' as desired */
    padding-left: 20px; /* Adjust the left padding for space between bullet points and text */
    color: #585858; /* Adjust the color of the bullet points */
    font-weight: bold;
  }
  
  .roofing-issues li {
    margin-bottom: 8px; /* Adjust the margin between list items */
  }
  
  .text-colour-black{
    color: #585858;
  }
  .blog-link:hover{
    color: #AC8A30;
  }

/* Custom styles for Testimonial Carousel */
#testimonialCarousel {
    max-width: 100%; /* Make sure the carousel is responsive */
}

#testimonialCarousel img {
    width: 100px; /* Ensure images are responsive within the carousel */

    height: 100px;
    border-radius: 50%; /* Optional: Add rounded corners to images */
}

/* Move previous and next icons down and beside each other */
.carousel-control-prev, .carousel-control-next {
    transform: translateY(70%); /* Adjust the vertical position */
}

.carousel-control-prev {
    left: -3%; /* Adjust the horizontal position for the previous icon */
}

.carousel-control-next {
    right: 70%; /* Adjust the horizontal position for the next icon */
}
/* Adjust the position of the previous and next icons */
.carousel-control-prev, .carousel-control-next {
    top: 0%; /* Adjust the vertical position */
    transform: translateY(770%); /* Center vertically */
}

/* Optional: Adjust the horizontal position */
.carousel-control-prev {
    left: 1%; /* Adjust the left position for the previous icon */
}

.carousel-control-next {
    right: 5%; /* Adjust the right position for the next icon */
}



/* Adjust the width and height of the background */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #0268CA; /* Change the background color of the control buttons */
    border-radius: 50%; /* Optional: Add rounded corners to control buttons */
    
    width: 3em; /* Adjust the width */
    height: 3em; /* Adjust the height */
    background-size: 50%; /* Ensure the background covers the entire area */
}

/* Optional: Adjust the position of the arrows within the background */
.carousel-control-prev, .carousel-control-next {
    width: 3em; /* Set the width of the arrows */
    height: 3em; /* Set the height of the arrows */
}




/* Optional: Style the caption text */
#testimonialCarousel .carousel-caption {
    background-color: rgba(52, 73, 94, 0.7); /* Set a semi-transparent background for the caption */
    color: #ecf0f1; /* Set the text color for the caption */
    padding: 15px;
    border-radius: 10px; /* Optional: Add rounded corners to the caption */
}

#testimonialCarousel .carousel-caption h5 {
    margin-bottom: 0;
}
/* Reduce the bottom margin of the container to decrease the gap */
.container-xxl {
    margin-bottom: 0;
}

/* Adjust the padding of the container to control the space around its content */
.container {
    padding-bottom: 20px; /* Adjust this value to control the space at the bottom */
}

/* Ensure the testimonial carousel is responsive on all devices */
#testimonialCarousel {
    max-width: 100%;
    margin-bottom: 0; /* Remove any bottom margin to reduce the gap */
}

/* Optional: Set a maximum height for the carousel on mobile view */
@media (max-width: 767px) {
    #testimonialCarousel {
        max-height: 400px; /* 
        
        Adjust this value as needed */
    }

    /* Style the navbar links */
.navbar-nav .nav-link {
    position: relative;
    padding: 12px 1px;
    font-size: 18px;
    text-transform: uppercase;
    color: #971c1ca5;
    outline: none;
    transition: .5s;
    
    /*
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Francois One', sans-serif;*/
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #FF3131;
}



.navbar-nav .nav-link1 {
        position: relative;
    padding: 12px 1px;
    font-size: 21px;
    margin: 0 1px;
    text-transform: uppercase;
    color: #0268CA;
    outline: none;
    transition: .5s;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Francois One', sans-serif;
}
.slanted-button {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    text-transform: uppercase;
    overflow: hidden;
}
.button-text i{
    margin-left: 10px
}

.slant-bg {
    position: absolute;
display: none;
}

.button-text {
    position: relative;
    z-index: 1;
    padding: 12px 1px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Francois One', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
}

.slanted-button:hover .slant-bg {
display: none;
}
}
.overflow-hidden {
    overflow: hidden;
}

@media only screen and (max-width: 416px) {

    .form-img{
display: none;
    }

}
